@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}
#bg {
  background-color: #fff;
}
h1 {
  font-family: "GmarketSansMedium";
  font-size: 80px;
  color: #2e2e2e;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
  margin: 0;
  padding: 30px;
}
a {
  font-family: "GmarketSansMedium";
  color: #2e2e2e;
  text-decoration: none;
}
p {
  font-family: "GmarketSansMedium";
  font-size: 80px;
  color: #0084ff;
  text-align: center;
}
.date {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 50px;
}
.date > a {
  font-family: "GmarketSansMedium";
  font-weight: bold;
  font-size: 20px;
  color: #2e2e2e;
  text-align: center;
  text-decoration: none;
}
.subject {
  font-family: "GmarketSansMedium";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #424242;
  text-align: center;
  margin: 20px;
}
.test {
  font-family: "GmarketSansMedium";
  font-weight: bolder;
  font-size: 40px;
  color: #d400ff;
  text-align: center;
  margin-bottom: 50px;
}
